@mixin focusOutline {
  outline: dotted 1px #CCC;
  outline-offset: .45rem;
}
@mixin hideInput {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}

.tab-selector-wrapper {
  margin: 0 0 2rem;
  font-size: 0;
  flex-flow: row nowrap;
  justify-content: flex-start; 
  align-items: stretch;
  input {@include hideInput;}
  input + label {
    cursor: pointer;
    width: 100%;
    color: #66b3fb;
    padding: .75rem 2rem;
    position: relative;
    display: inline-block;
    border: solid 1px #DDD;
    background-color: #FFF;
    font-size: 1rem;
    line-height: 140%;
    font-weight: 600;
    text-align: center;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    transition: border-color .15s ease-out, 
      color .25s ease-out, 
      background-color .15s ease-out,
      box-shadow .15s ease-out;
  }
  &:first-of-type {
    border-radius: 6px 0 0 6px; border-right: none;
  }
  &:last-of-type {
    border-radius: 0 6px 6px 0; border-left: none;
  }
}

input:hover + label {
  border-color: rgb(33, 49, 64);
}
  
input:checked + label {
  background-color: rgb(75, 157, 234);
  color: #FFF;
  box-shadow: 0 0 10px rgba($color: #66b3fb, $alpha: 0.5);
  border-color: rgb(75, 157, 234);
  z-index: 1;
}

.tab-selector {
  flex: 0 0 50%;
}