form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 3rem;

  input:first-child {
    width: 30%;
    font-size: 1rem;
    padding: 4px;
  }

  .btn-block {
    * {
      padding: 2px 5px;
      border-radius: 5px;
    }
    button {
      margin-right: 1rem;
      background-color: rgba($color: #fff, $alpha: 0.8);
      color: rgba($color: #000, $alpha: 0.7);
      border-color: #5f5f5f;
    }
  }
}

@media screen and (max-width: 810px) {
  form {
    input:first-child {
      width: 90%;
    }

    .btn-block {
      * {
        padding: 5px 16px;
      }
    }
  }
}